@model List<Movie>;
@{
    ViewData["Title"] = "Cinema club";
}

<div class="text-center">
    <h1 class="display-4">Movies Schedule</h1>
    <p>
        <a>
            @foreach (var movie in Model)
            {
                <div>
                    <table>
                        <tr>
                            <td>
                                @* <img src="@movie.PosterUrl" alt="@movie.Title Poster" width="150" /> *@
                            </td>
                            <td style="padding-left:20px;">
                                <h2>@movie.Title (@movie.ReleaseYear)</h2>
                                <p><strong>Жанр:</strong> @movie.Genre</p>
                                <p><strong>Страна:</strong> @movie.Country</p>
                                <p><strong>Цена билета:</strong> $@movie.Price</p>
                                <p><strong>Кассовые сборы:</strong> $@movie.BoxOfficeReceipts</p>
                            </td>
                        </tr>
                    </table>
                </div>
            }   
        </a>.
    </p>
</div>
